<li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <!-- <div class="menu-img">
            <a href="menu.html">
              <img src="images/menu-item-1.jpg" alt="" class="photo">
            </a>
          </div> -->
        </div>

        <div class="col col-13 col-xs col-xs-13">
          <div class="menu-title">
            <!-- <a href="menu.html">
              献立タイトルが入ります
              献立タイトルが入ります
            </a> -->
            <%= link_to "@menu_name", menu %>
          </div>

          <p class="menu-comment">
            <%= menu.point %>
          </p>

          <ul class="menu-list sp-off">
            <li>
             <img src="images/menu-main-icon.png" alt="" class="menu-list-icon">
             <a href="recipe.html">
              ゴロゴロお肉のメキシカンスープ</a>
            </li>

            <li>
              <img src="images/menu-sub-icon.png" alt="" class="menu-list-icon">
              <a href="recipe.html">
                芽キャベツのアンチョビオリーブパスタ
              </a>
            </li>
            <li>
             <img src="images/menu-sub-icon.png" alt="" class="menu-list-icon">
             <a href="recipe.html">
              パクチーの香草サラダ
            </a>
          </li>
          <li class="author">
            <a href="#">by つくったひと</a></li>
          </ul>
        </div>
      </li>