 <!-- 材料追加のmodal -->

        <li class="gutters row edit-ingredient">
          <div class="col col-14 col-xs-14 edit-ingredient-item field">
            <!-- <input type="text" class="edit-ingredient-field" placeholder="例：鳥むね肉"> -->
            <%= f.text_field :name, class:'edit-ingredient-field', placeholder:'例：鶏むね肉'%>
          </div>
          <div class="col col-8 col-xs-8 edit-ingredient-quantity field">
            <!-- <input type="text" class="edit-ingredient-field" placeholder="例：100g"> -->
            <%= f.text_field :volume, class:'edit-ingredient-field', placeholder:'例：100g'%>
          </div>
          <!-- <div class="col col-2 col-xs-2 edit-ingredient-delete">
            <i class="icon-l gray icon-cancel"></i>
          </div> -->
          <%= link_to_remove_fields "削除", f %>
        </li>
      