 <!-- 材料追加のmodal -->
<div class="fields">
  <div class="ingredient-modal remodal" data-remodal-id="ingredient-modal">
    <h4 class="ingredient-modal-head"><i class="icon-m orange icon-scales"></i>レシピに使う材料の編集</h4>
    <!-- <form action="#"> -->
      <ul class="inner-30 edit-ingredient-container">
        <li class="gutters row edit-ingredient-head">
          <div class="col col-14 col-xs-14 edit-ingredient-item">
            材料
          </div>
          <div class="col col-8 col-xs-8 edit-ingredient-quantity field">
            分量
          </div>
        </li>
        <li class="gutters row edit-ingredient">
          <div class="col col-14 col-xs-14 edit-ingredient-item field">
            <!-- <input type="text" class="edit-ingredient-field" placeholder="例：鳥むね肉"> -->
            <%= f.text_field :name, class:'edit-ingredient-field', placeholder:'例：鶏むね肉', rows:'2' %>
          </div>
          <div class="col col-8 col-xs-8 edit-ingredient-quantity field">
            <!-- <input type="text" class="edit-ingredient-field" placeholder="例：100g"> -->
            <%= f.text_field :volume, class:'edit-ingredient-field', placeholder:'例：100g', rows:'2' %>
          </div>
          <!-- <div class="col col-2 col-xs-2 edit-ingredient-delete">
            <i class="icon-l gray icon-cancel"></i>
          </div> -->
          <%= link_to_remove_fields "削除", f %>
        </li>
        <!-- <li class="gutters row edit-ingredient">
          <div class="col col-14 col-xs-14 edit-ingredient-item">
            <input type="text" class="edit-ingredient-field" placeholder="例：キャベツ">
          </div>
          <div class="col col-8 col-xs-8 edit-ingredient-quantity">
            <input type="text" class="edit-ingredient-field" placeholder="例：1/4玉">
          </div>
          <div class="col col-2 col-xs-2 edit-ingredient-delete">
            <i class="icon-l gray icon-cancel"></i>
          </div>
        </li>
        <li class="gutters row edit-ingredient">
          <div class="col col-14 col-xs-14 edit-ingredient-item">
            <input type="text" class="edit-ingredient-field" placeholder="例：塩こしょう">
          </div>
          <div class="col col-8 col-xs-8 edit-ingredient-quantity">
            <input type="text" class="edit-ingredient-field" placeholder="例：5g">
          </div>
          <div class="col col-2 col-xs-2 edit-ingredient-delete">
            <i class="icon-l gray icon-cancel"></i>
          </div>
        </li> -->
        <li class="add-ingredient-btn">
          <div class="step-add-btn">
            <a href="#">材料を追加する</a>
          </div>
        </li>
      </ul>
      <div class="edit-ingredient-submit-container">
        <input type="submit" value="材料を保存する" class="edit-ingredient-submit">
      </div>
    </form>
  </div>
</div>