
      <div class="recipe-ranking-container">
        <h2 class="title-bar"><i class="title-icon icon-trophy"></i>人気のレシピ</h2>
        <ul class="row gutters container inner-30 recipe-ranking">
          <li class="col col-8">
            <div class="ranking rank-1">
              人気ランキング10月 第1位
              <span class="tri-over"></span>
            </div>
            <div class="recipe-img">
              <a href="recipe.html">
                <img src="/assets/recipe-2.jpg" alt="" class="photo">
              </a>
            </div>
            <p class="menu-title">
              <a href="recipe.html">チーズのこってりサラダ！ワインといっしょにおいしいよ！</a>
            </p>
          </li>

          <li class="col col-8">
            <div class="ranking rank-2">
              人気ランキング10月 第2位
              <span class="tri-over"></span>
            </div>
            <div class="recipe-img">
              <a href="recipe.html">
                <img src="/assets/recipe-2.jpg" alt="" class="photo">
              </a>
            </div>
            <p class="menu-title">
              <a href="recipe.html">チーズのこってりサラダ！ワインといっしょにおいしいよ！</a>
            </p>
          </li>

          <li class="col col-8 sp-off">
            <div class="ranking rank-3">
              人気ランキング10月 第3位
              <span class="tri-over"></span>
            </div>
            <div class="recipe-img">
              <a href="recipe.html">
                <img src="/assets/recipe-2.jpg" alt="" class="photo">
              </a>
            </div>
            <p class="menu-title">
              <a href="recipe.html">チーズのこってりサラダ！ワインといっしょにおいしいよ！</a>
            </p>
          </li>
        </ul>
      </div>