<div class="col col-13 col-xs col-xs-13">
  <div class="menu-title">
    <%= link_to "@name", recipe %>
  </div>

  <p class="menu-comment">
    <%= recipe.description %>
  </p>

   <div class="author">
    <a href="#">by つくったひと</a>
  　</div>

</div>
