<div class="container recipe-categories-container sp-off">

  <ul class="recipe-categories">

    <% Recipe.arr.each do |key, image, name| %>
    <li>
      <%= image_tag image %>
      <%= link_to name, kinds_path(:r_kind => key)%>
    </li>
    <% end %>



  </ul>
</div>