
<%= render 'recipes/category' %>


<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <span class="page-title-sub">カロリー表示ありレシピ・献立</span>
    <!-- <span class="count">20件</span> -->
  </div>
  
  <div class="tab-switch-container">
    <ul>
      <li class="tab-switch tab-active">
        <a href="#menu-container">
          献立
        </a>
      </li>
      <li class="tab-switch">
        <a href="#recipe-container">
          レシピ
        </a>
      </li>
    </ul>
  </div>


  <div id="tab-box">
    
    <ul class="inner pt-30 tab-container menu-container" id="menu-container">
      <!-- 献立ひとつ分 -->
      
      <li class="gutters row menu">
        <div class="col col-11 col-xs col-xs-11">
          <div class="menu-img">
              <!-- <a href="menu.html">
                <img src="images/menu-item-1.jpg" alt="" class="photo">
              </a> -->
              
            </div>
          </div>

          <div class="col col-13 col-xs col-xs-13">
            <div class="menu-title">
              <!-- <a href="menu.html">
                献立タイトルが入ります
                献立タイトルが入ります
              </a> -->
              
            </div>
          </div>

          <p class="menu-comment">
           
          </p>

          <ul class="menu-list sp-off">
             <!-- 
              <li>
               <img src="images/menu-main-icon.png" alt="" class="menu-list-icon"> -->
               <!-- <a href="recipe.html">
               ゴロゴロお肉のメキシカンスープ</a> -->
               
               <!--  </li> -->

               <li class="author">
                <!-- <a href="#">by つくったひと</a> -->
                
              </li>
              
            </ul>
          </div>
        </li>
        
        <!-- 献立ひとつ分 -->
      </ul>

      <ul class="inner pt-30 tab-container menu-container" id="recipe-container">
        <!-- レシピひとつ分 -->
        <%= render @calorie %>   
         <!-- レシピひとつ分 -->
      </ul>


     </div>
     <!-- tab-box -->

   </div>

 </div><!-- contents end-->
