
<%= render 'recipes/category' %>

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <span class="page-title-sub">レシピ検索一覧</span>
    <!-- <span class="page-title-sub">献立・レシピ</span> -->
    <!-- <span class="count">20件</span> -->
  </div>
  <!-- 
    <div class="tab-switch-container">
      <ul>
        <li class="tab-switch tab-active">
          <a href="#menu-container">
            献立
          </a>
        </li>
        <li class="tab-switch">
          <a href="#recipe-container">
            レシピ
          </a>
        </li>
      </ul>
    </div>
  -->
  <div id="tab-box">

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">
      <!-- レシピひとつ分 -->
      <%= render @recipes %>
      <!-- レシピひとつ分 -->
    </ul>
  </div>

</div>
<!-- tab-box -->


