<div class="mypage-header-container" id="sticker">
      <ul class="mypage-header sp-off">
        <li class="header-item author-img">
          <!-- <a href="#">
            <img src="images/author-img.png" alt="" class="photo">
            <i class="icon-camera"></i>
            写真を変更する
          </a> -->
          <%= link_to image_tag("author-img.png"), edit_user_registration_path, :class => 'navbar-link' %>
          <%= link_to '写真を変更する', edit_user_registration_path, :class => 'navbar-link' %>
        </li>

        <li class="header-item header-item-a">
          <!-- <a href="create-recipe.html">
            <i class="icon-edit"></i><br>
            レシピを<br>のせる
          </a> -->
          <i class="icon-edit"></i><br>
          <%= link_to "レシピを<br>のせる", new_recipe_path, class:'icon-edit' %>
        </li>
        <li class="header-item header-item-a">
          <!-- <a href="create-menu.html">
            <i class="icon-nife-fork"></i><br>
            献立を<br>作る
          </a> -->
          <i class="icon-nife-fork"></i><br>
          <%= link_to "献立を<br>作る", new_menu_path, class:'icon-nife-fork' %>
        </li>
        <li class="header-item header-item-b">
          <a href="#">
            <i class="icon-nife-fork"></i><br>
            <span class="sub">お気に入りの<br></span>献立
          </a>
        </li>
        <li class="header-item header-item-b">
          <a href="#">
            <i class="icon-cutlery"></i><br>
            <span class="sub">お気に入りの<br></span>レシピ
          </a>
        </li>
        <li class="header-item header-item-c">
          <a href="menu-recipe.html">
            <i class="icon-chef-hat-spoun"></i><br>
            <span class="sub">投稿した<br></span>レシピ
          </a>
        </li>
        <li class="header-item header-item-c">
          <a href="menu-recipe.html">
            <i class="icon-recipes-2"></i><br>
            <span class="sub">投稿した<br></span>献立
          </a>
        </li>
      </ul>
    </div>