<div class="contents">

<h2 class="title-bar"><i class="title-icon icon-l icon-nife-fork"></i>コラム一覧</h2>

  <div class="container-full inner-30">
   <div class="container-full inner-30">

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">

          <!-- レシピひとつ分 -->
          <% @columns.each do |column| %>

          <li class="gutters row menu">

            
            <div class="col col-13 col-xs col-xs-13">
             <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to column.title, column %>
              </div>
              
              <div class="author">
                <!--  <a href="#">by つくったひと</a> -->
                <%= column.user.name %>
              </div>

            </div>

          </li>

          <% end %>    
          <!-- レシピひとつ分 -->
        </ul>
    </div>
  </div>
</div>  