
<%= render 'recipes/category' %>

<div class="col col-18 menu-recipe-container">
  <div class="page-title">
    <span class="page-title-sub">レシピ検索一覧</span>
  </div>
  
  <div id="tab-box">

    <ul class="inner pt-30 tab-container menu-container" id="menu-container">

      <!-- レシピひとつ分 -->
      <% @columns.each do |column| %>

      <li class="gutters row menu">

        
        <div class="col col-13 col-xs col-xs-13">
         <div class="menu-title">
                <!-- <a href="recipe.html">
                  レシピタイトル
                </a> -->  
                <%= link_to column.title, column %>
              </div>

              <p class="menu-comment">
                <%= column.body %>
              </p>

              <div class="author">
                <!--  <a href="#">by つくったひと</a> -->
                <%= column.nutritionist.name %>
              </div>

            </div>

          </li>

          <% end %>    
          <!-- レシピひとつ分 -->
        </ul>
      </div>

    </div>
    <!-- tab-box -->

  </div>

</div><!-- contents end-->


