#company_profile.container.hidden-xs
  .company_profile__box
    .contents-inner.contents-inner__cover.clearfix
      .contents-inner__white.hidden-xs.clearfix
        .company_profile__top.hidden-xs
          会社概要
        .company_profile__main
          .company_profile__main_left 会社名
          .conpany_profile__main_right Ｄ３株式会社
          .company_profile__main_left 代表者
          .conpany_profile__main_right 加藤順弘
          .company_profile__main_left 所在地
          .conpany_profile__main_right 〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階
          .company_profile__main_left 事業内容
          .conpany_profile__main_right 糖尿病の食事レシピサイト『Ｄノート』の企画・運用        
  =render 'layouts/side_block'
#mobile-company_profile.visible-xs
  .mobile-company_profile__top.visible-xs.u-pr10.u-pl10.u-pb10.u-pt10
    .mobile-company_profile__top
      %p 会社概要
    .mobile-company_profile__main
      .mobile-company_profile__main_left 会社名
      .mobile-conpany_profile__main_right Ｄ３株式会社
      .mobile-company_profile__main_left 代表者
      .mobile-conpany_profile__main_right 加藤順弘
      .mobile-company_profile__main_left 所在地
      .mobile-conpany_profile__main_right 〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階
      .mobile-company_profile__main_left 事業内容
      .mobile-conpany_profile__main_right 糖尿病の食事レシピサイト『Ｄノート』の企画・運用       
  
  