<!doctype html>
<html class="no-js">
<head id="head">
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>
  
</head>
<body>

  <div id="wrapper">

    <%= render 'layouts/header' %>

    <div class="contents">
      <table class="table table-bordered">
        <tr>
          <th>会社名</th>
          <td>Ｄ３株式会社</td>
        </tr>

        <tr>
          <th>代表者</th>
          <td>加藤順弘</td>
        </tr>

        <tr>
          <th>所在地</th>
          <td>〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階</td>
        </tr>
        
        <tr>
          <th>事業内容</th>
          <td>糖尿病の食事レシピサイト『Ｄノート』の企画・運用</td>
        </tr> 
      </table>
    </div>

  </div>
  <!-- Footer -->
  <%= render 'layouts/footer' %>
  <!-- Footer -->


  <!-- ログイン登録用のモーダル -->
  <%= render 'layouts/login' %>


  <!-- サイドバー -->
  <%= render 'layouts/sidebar' %>



</body>
</html>

