<!doctype html>
<html class="no-js">
<head id="head">
  <meta charset="utf-8">
  <title>d note</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="styles/css/base.css">
  <link rel="stylesheet" href="styles/css/grid.css">
  <link rel="stylesheet" href="styles/css/main.css">
  <script src="scripts/jquery.min.js"></script>
  <script src="scripts/jquery.remodal.js"></script>
  <script src="scripts/jquery.mobile-menu.js"></script>
  <script src="scripts/main.js"></script>
  
</head>
<body>

  <div id="wrapper">

    <%= render 'layouts/header' %>

    <div class="contents">
      <pre>
        会社名：Ｄ３株式会社
         
        代表者：加藤順弘
         
        所在地：〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階
         
        事業内容：糖尿病の食事レシピサイト『Ｄノート』の企画・運用
      </pre>
    </div>

  </div>
  <!-- Footer -->
  <%= render 'layouts/footer' %>
  <!-- Footer -->


  <!-- ログイン登録用のモーダル -->
  <%= render 'layouts/login' %>


  <!-- サイドバー -->
  <%= render 'layouts/sidebar' %>



</body>
</html>

