#company_profile.container.hidden-xs
  .copany_profile__box
    .contents-inner.contents-inner__cover.clearfix
      .contents-inner__white.hidden-xs.clearfix
        .company_profile__top.hidden-xs
          個人情報保護方針
        .company_profile__main
          .privacy_policy__unity
            .conpany_profile__main_right
              Ｄ３株式会社（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
          .privacy_policy__unity      
            .company_profile__main_left 個人情報の管理
            .conpany_profile__main_right
              当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
          .privacy_policy__unity
            .company_profile__main_left 個人情報の利用目的
            .conpany_profile__main_right
              お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
          .privacy_policy__unity
            .company_profile__main_left 個人情報の第三者への開示・提供の禁止
            .conpany_profile__main_right
              当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
            .conpany_profile__main_right •お客さまの同意がある場合
            .conpany_profile__main_right
              •お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
            .conpany_profile__main_right •法令に基づき開示することが必要である場合
          .privacy_policy__unity
            .company_profile__main_left 個人情報の安全対策
            .conpany_profile__main_right
              当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
          .privacy_policy__unity
            .company_profile__main_left ご本人の照会
            .conpany_profile__main_right
              お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
          .privacy_policy__unity
            .company_profile__main_left 法令、規範の遵守と見直し
            .conpany_profile__main_right
              当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
          .privacy_policy__unity
            .company_profile__main_left お問い合せ
            .conpany_profile__main_right
              当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。
              %br
              Ｄ３株式会社
              %br
              〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階
              %br
              info@dthree3.co.jp        
  =render 'layouts/side_block'
#mobile-company_profile.visible-xs
  .mobile-company_profile__top.visible-xs.u-pr10.u-pl10.u-pb10.u-pt10
    .mobile-company_profile__top
      %p 個人情報保護方針
    .mobile-company_profile__main
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left
          Ｄ３株式会社（以下「当社」）は、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築し、全従業員に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
      .mobile-privacy_policy__unity      
        .mobile-company_profile__main_left 個人情報の管理
        .mobile-conpany_profile__main_right
          当社は、お客さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・社員教育の徹底等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left 個人情報の利用目的
        .mobile-conpany_profile__main_right
          お客さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left 個人情報の第三者への開示・提供の禁止
        .mobile-conpany_profile__main_right
          当社は、お客さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
        .mobile-conpany_profile__main_right
          •お客さまの同意がある場合
          %br
          •お客さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
          %br
          •法令に基づき開示することが必要である場合
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left 個人情報の安全対策
        .mobile-conpany_profile__main_right
          当社は、個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left ご本人の照会
        .mobile-conpany_profile__main_right
          お客さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left 法令、規範の遵守と見直し
        .mobile-conpany_profile__main_right
          当社は、保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
      .mobile-privacy_policy__unity
        .mobile-company_profile__main_left お問い合せ
        .mobile-conpany_profile__main_right
          当社の個人情報の取扱に関するお問い合せは下記までご連絡ください。
          %br
          Ｄ３株式会社
          %br
          〒150-0002　東京都渋谷区渋谷2-19-15宮益坂ビル７階
          %br
          info@dthree3.co.jp        