/* 
トップページ---@@Index
管理栄養士-----@@Nuturition
レシピ--------@@Recipe
献立----------@@Menu
マイページ-----@@Mypage
レシピ投稿-----@@Create-Recipe
献立投稿------@@Create-Menu
*/

/* Setting
================================================================================*/
$dark-orange:#d15d14; // 各見出しに使われている暗めのオレンジ 
$light-orange:#f6ac1d; // ロゴに使われている明るめオレンジ 
$green:#1d6613; // 料理のタイトル名などの緑 
$beige : #f9f1e3; 
$gray: #f1ebe0; 


//親要素の横幅を無視して、コンテンツをブラウザ幅いっぱいに*/
@mixin full {
  margin-left: -500%;
  margin-right: -500%;
  padding-left: 500%;
  padding-right: 500%;
}

// ブロック要素をboxの中央(縦)に配置 */
@mixin vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// レシピを保存ボタンなどオレンジのグラデーション */
@mixin gradation-orange{
  background: rgb(255,178,13);
  background: -moz-linear-gradient(top,  rgba(255,178,13,1) 0%, rgba(227,151,5,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,178,13,1)), color-stop(100%,rgba(227,151,5,1)));
  background: -webkit-linear-gradient(top,  rgba(255,178,13,1) 0%,rgba(227,151,5,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,178,13,1) 0%,rgba(227,151,5,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,178,13,1) 0%,rgba(227,151,5,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,178,13,1) 0%,rgba(227,151,5,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb20d', endColorstr='#e39705',GradientType=0 );
}

//レシピを削除ボタンなど灰色のグラデーション */
@mixin gradation-gray {
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}

// Facebookボタンのグラデーション */
@mixin gradation-blue {
  background: rgb(59,89,152);
  background: -moz-linear-gradient(top,  rgba(59,89,152,1) 0%, rgba(49,76,135,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,89,152,1)), color-stop(100%,rgba(49,76,135,1)));
  background: -webkit-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(49,76,135,1) 100%);
  background: -o-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(49,76,135,1) 100%);
  background: -ms-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(49,76,135,1) 100%);
  background: linear-gradient(to bottom,  rgba(59,89,152,1) 0%,rgba(49,76,135,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#314c87',GradientType=0 );
}

#wrapper {
  overflow: hidden;
  position: relative;
  padding-bottom: 60px;
  background:#fbfbfb;
}

.contents {
  max-width: 960px;
  margin: 0 auto;
}

/* 各ページの見出し部分 */
.title-bar{
  position: relative;
  max-width:960px;
  padding: .2em .5em .1rem 2rem;
  margin: 0 auto;
  background: $dark-orange;
  color:#fff;
  font-size: 1.7rem;

  .title-icon{
    display: inline-block;
    font-size: 2rem;
    margin-right: .8rem;
    vertical-align: -2px;
  }
}

.title-bar-white{ 
  box-shadow:0 0 2px rgba(0,0,0, .2);
  background:#fff;
  color:#818181;
  font-size: 1.25rem;
}

.about-dnote a{
  color:#555;
  text-decoration: none;
}

@media screen and (max-width:640px){ 
  .title-bar {
    padding: .85rem;

    .title-icon{
      font-size: 2rem;
    }
  }

  .about-dnote{
    position: relative;

    .is-sp-toggle-switch {
      display: block;
      position: relative;
      cursor: default;
      color:#555;
      text-decoration: none;

      &:after {
        font-family: 'icomoon';
        content: "\e607";
        position: absolute;
        top: 18%;
        right: 10px;
        color:$light-orange;
        font-size: 2.5rem;
      }
    }

    .active-toggle:after {
      transform: rotate(90deg);
    }
  }

  .title-bar-white{
    margin: 2rem 0;
    position: relative;
    padding:.25rem;
  }
  }/* MediaQuery */

/* レシピ、献立で良く使うもの
================================================*/
.menu-title {
  margin: .5rem 0;
  text-align: left;
}

.menu-title a{
  color:$green;
  font-weight: bold;
  font-size: 1.25rem;
  text-align: left;
  line-height: .8;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.menu-title-large a{
  color:$green;
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 1.2;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

.menu-comment {
  margin: 1rem 0;
  font-size: 1rem;
}

.cooking-time{
  color:$light-orange;
  font-size: 1.25rem;

  .time{
    margin-left: .5rem;
    font-size: 1.55rem;
  }
}

.kcal {
  color:$light-orange;
  font-size: 1.85rem;
}

.menu-list{
  margin: 1rem;

  li{
    width: 100%;
    margin: .5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  a{
    color:#555;
  }
}

.menu-list-icon{
  display: inline-block;
  margin-right: 2px;
  vertical-align: middle;
}

/* @@Index
============================================

/* 本日のおすすめ料理 */
.pickup-menu-today-container{
  overflow: hidden;
  position: relative;
  background-image:url(../../images/pickup-bg.png);
  border-top:solid 1px #ddd1d1;
  border-bottom:solid 2px #ddd1d1;

  .container { 
    background: transparent; 
    box-shadow:none;
  }
}

.pickup-menu-img {
  overflow: hidden;
  max-height: 300px;
}


/* 本日のおすすめ料理 :　スマホ */
@media screen and (max-width:640px){ 
  .pickup-menu-img,
  .pickup-menu-info{
    margin: 0;
    padding: 0;
  }

  .pickup-menu-info{
    .menu-title-large{
      position: absolute;
      width: 100%;
      bottom:0;
      padding:.5rem 1rem;
      background: rgba($dark-orange, .4);

      a{ color:#fff; }
    }
  }
}

.about-dnote { 
  margin: .5rem;
  margin-bottom:3rem;
}

.about-dnote-text{
  margin: 1rem auto;
}

@media screen and (max-width:640px){
  .about-dnote {
    margin: 0;

    .title-bar {
      box-shadow: none;
      border-top:solid 1px #cfc0a6;
      border-bottom:solid 1px #cfc0a6;
    }
  }
  .about-dnote img {
    width: 95px;
    margin-left: 1.6rem;
  }

  .about-dnote-text {
    padding:0 1rem 1rem 1rem;
    font-size:1.17rem;
  }
}

/* 管理栄養士によるおすすめの献立 */
.pickup-menu-nuturition{
  padding: .5rem 0 .5rem .5rem;

  .nuturition{ margin-top: .25rem; }

  .nuturition-name a{
    margin-top: 1rem;
    color:#555;
    font-size: 1rem;
    text-decoration: none;
  }
}

.nuturition-img{
  margin: 0;

  img{ border-radius:4px; }
}

/* 管理栄養士によるおすすめの献立 ：　スマホ */
@media screen and (max-width:640px){
  .pickup-menu-nuturition{
    padding-right: .5rem;

    .nuturition-name{
      font-size: 1.3rem;
      text-align: right;
    }
  }

  .nuturition{ margin: .25rem .25rem 1.17rem .25rem; }
}


/* index.htmlのコラム部分 */
.column-title-bar{
  padding: .5em 0;
  background:$beige;
}

.nuturition-container {
  .column-title a{
    font-weight: bold;
    font-size: 1.7rem;
    color:#792e2e;
    text-decoration: none;
  }
}


.column-content {
  padding:1rem 2rem;

  .column-heading {
    margin-bottom: .5rem;
    color:#222;
    font-size: 1.25rem;
  }

  .column-text{
    margin-bottom: 1rem;
    color:#818181;
    line-height: 1.7;
  } 
}

/* もっと見るボタン */
.read-more-container{
  display: inline-block;
  margin-bottom: 4rem;
  background:#fff;
  text-align: center;
}

.read-more {
  box-shadow: 0 0 2px rgba(0,0,0, .2);
  text-align: left;

  a{
    position: relative;
    display: block;
    width: 320px;
    padding:.6rem 1.5rem;
    font-weight: bold;
    color:#555;
    text-decoration: none;

    &:after {
      font-family: 'icomoon';
      content: "\e607";
      position: absolute;
      top: 12%;
      right: 10px;
      color:$light-orange;
      font-size: 2rem;
    }
  }

  .icon-caret-right{
    display: inline-block;
    margin-left: 1rem;
    color:$light-orange;
    vertical-align: -6px;
  }
}

@media screen and (max-width:640px){
  .read-more-container{
    display: block;
    margin: 0;
    margin-bottom: 2rem;
    border-top: solid 1px #cfc0a6;

    .read-more a{
      position: relative;
      display: block;
      font-size: 1.3rem;
      text-align:left;

      &:after {
        font-family: 'icomoon';
        content: "\e607";
        position: absolute;
        top: 16%;
        right: 10px;
        color:$light-orange;
        font-size: 2.2rem;
      }
    }

    .icon-caret-right{
      font-size: 2.5rem;
      vertical-align: -6px;
    } 
  }
} /*__Mediaquery*/



/* 人気のレシピ
================================================*/
.recipe-ranking{
  text-align: center;


  li { display: inline-block; }

  .menu-title{ margin: 1rem 0; }
}


.ranking{
  position:relative;
  margin-bottom: 1rem;
  padding: .5rem;
  border-top:3px solid transparent;
  border-bottom:solid 3px transparent;
  font-weight: bold;
  font-size:1.25rem;
  z-index:0;
  text-align: left;
}

/* 吹き出し三角形部分 */
.ranking:after{
  content:" ";
  position: absolute;
  top: 100%;
  left: 20px; 
  z-index:1;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #ea3f18;
}

.tri-over{
  position:absolute;
  top: 100%;
  left: 23px; 
  z-index:2;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #fff;
}

.rank-1{
  color: #ea3f18;
  border-top-color: #ea3f18;
  border-bottom-color: #ea3f18;

  &:after{
    border-top-color: #ea3f18;
  }
}

.rank-2{
  color: #f3a140;
  border-top-color: #f3a140;
  border-bottom-color: #f3a140;

  &:after{
    border-top-color: #f3a140;
  }
}

.rank-3{
  color: #689962;
  border-top-color: #689962;
  border-bottom-color: #689962;

  &:after{
    border-top-color: #689962;
  }
}


@media screen and (max-width:640px){
  .recipe-ranking{
    margin-left: 0;

    .ranking { text-align: center; }
    .recipe-img {  padding:0 1rem; }
    .menu-title{ padding:0 2rem; }
  }
}

/* index下部 レシピカテゴリ */
.recipe-categories-container {
  background:#fff;
  border-top: solid #1d6613 6px;
  border-radius: 6px 6px 0 0;
}

.category-head{
  margin-top: 2.5rem;
  font-weight: bold;
  color:#593131;
  font-size: 1.25rem;
}

.recipe-categories{
  width: 86%;
  margin: 0 auto;
  text-align: center;

  li{
    display: inline-block;
    width: 32%;
    margin: 1rem 0; 
    text-align: left;
  }

  a{
    font-size: 1.25rem;
    color:#593131;
    text-decoration: none;
  }
}

.category-icon{
  display: inline-block;
  margin-right: 1rem;
  vertical-align: middle;
}


/*　@@Nuturition
============================================*/
.nuturition-menu-container,
.nuturition-recipe-container{
  padding-bottom:0;
}

.nuturition-menu { margin-bottom: 1rem; }
.nuturition-date{ padding:0 1rem; }

.nuturition-name{
  margin-top: 1rem;
  font-weight: bold;
  color:#555;
  font-size: 1.7rem;

  a{
    font-weight: bold;
    color:#555;
    font-size: 1.7rem;
    text-decoration: none;
  }
}

.nuturition-description { color:#818181; }

.nuturition-head {
  margin-bottom: 1rem;
  border-bottom:solid #eee 1px; 
  color:$light-orange;
  font-size: 1.7rem;
}

.column-text {
  font-size: .85rem;
}

/*　管理栄養士ページ：スマホ
--------------------------------------------*/
@media screen and (max-width:640px){

  .nuturition-menu-container{
    border-bottom:solid 2px $light-orange;
  }  

  #nuturition-page{
    .nuturition-name{
      text-align: center;
    } 
    .nuturition-img-container{
      width: 66%;
      margin: 1rem auto 0 auto;
      float: none;
    }

    .nuturition-name { font-size: 1.25rem; }
  }

  .nuturition-name a {
    color:#555;
    font-size: 1.25rem;
    text-decoration: none;
  }

  .nuturition-menu-container,
  .nuturition-recipe-container{
    margin-bottom: 2rem;
    padding:1rem 2rem 0 2rem;

    .menu-title { margin: 1rem 0; }
    .menu-list a {font-size: 1.25rem; }
  }

  .nuturition-menu:not(:first-child) { display: none; }
  .nuturition-recipe-container { display: none; } 
} /*__Mediaquery*/

/* 管理栄養士ページのコラム部分 */
.column-head{
  font-weight: bold;
  color:#b71818;
  text-align: center; 
  border-bottom: solid 2px #b71818;
}

.column{
  margin-top: 1.5rem;

  &:last-child{
    border: none;
    padding-bottom: 2rem;
  }

  .column-title{
    font-weight: bold;
    padding: 0 1.5rem .5rem 1.5rem;
    border-bottom:solid #eee 1px;
    font-size: 1.25rem;

    a{
      color:#555;
      font-weight: bold;
      font-size: 1.25rem;
      text-decoration: none;
    }
  }
}

.column-sub-title{
  font-weight: bold;
  margin: .8rem 0;
  color:#222;
}

.column-text{
  color:#818181;
  line-height: 1.6;
}

.column-title-large {
  padding-bottom: .5rem;
  font-weight: bold;
  font-size: 1.7rem;
  border-bottom:solid 1px #f1ebe0;
}

.main-column-content{
  padding-bottom: 6rem;

  .column-text {
    font-size: 1.1rem;
  }
} 

.column-footer {
  width: 80%;
  margin: 0 auto 1rem auto;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 4%; 
  }

  .column-link a{
    color:#555;
    text-decoration: none;
  }
}


/* 管理栄養士ページコラム：スマホ */
@media screen and (max-width:640px){
  .column{
    padding: 0 1.5rem 1rem 1.5rem;
    border-bottom:solid 1px #cfc0a6;

    .column-title{
      padding: 0;
      color:$green;
      font-size: 1.6rem;
      border: none;
    }
  }

  .column-text{
    margin-top: .5rem;
    font-size: 1.25rem;
    overflow: hidden;
  }

  .all-show,
  .column-sub-title{ display: none; }

  .column-title-large {
    padding:0 1rem;
  }
  
  .main-column-content {

    padding:1rem;
  }

  .column-footer {
    width: 100%;
    margin-top: 2rem;
  }
} /* __Mediaquery */

.read-more-accordion{
  cursor: pointer;
  margin-top: .5rem;
  padding: .75rem 0;
  border-top:solid #cfc0a6 1px; 
  text-align: center;

  a{
    display: block;
    color:#555;
    font-size: .85rem;
    text-decoration: none;
  }
}

.accordion-arrow{
  position: relative;
  display: inline-block;
  width: 2.25rem;
  height: 2.25rem;
  margin-left: .5rem;
  vertical-align: middle;
  border-radius:100px;

  i{
    position: absolute;
    top:-6px;
    left:0%;
    width: 100%;
    font-size: 3rem;
  }
}

.all-show{
  margin-right: 2rem;
  margin-top: 1rem;

  font-size: .85rem;
  text-align: right;

  a{
    position: relative;
    display: block;
    padding-right: 2rem;
    color:#555;
    text-decoration: none;

    &:after {
      font-family: 'icomoon';
      content: "\e607";
      position: absolute;
      top: -4px;
      right: 0;
      color:#b71818;
      font-size: 1.8rem;
    }
  }
}

.accordion-arrow-s{
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: bottom;

  i{
    top:0px;
    left:-8%;
    font-size: 1.7rem;
  }
}


/* @@Recipe
=========================================*/
#recipe-page {
  .menu-img {
    margin-top: 1rem;
  }
}

.recipe-edit-btn {
  position: absolute;
  top:0px;
  right:28px;

  a{
    @include gradation-orange;
    display: inline-block;
    color:#fff;
    border-radius: 4px;
    border:solid 1px $dark-orange;
    padding:.5rem;
    font-size: .85rem;
    text-shadow: 1px 0px 1px rgba(black, .2);
    text-align: center;
  }
}

.author-name { color:#555; text-decoration: none; }

@media screen and (max-width:640px) {
  #recipe-page {
   .menu-title-large { padding: .5rem 0 .5rem .5rem; }

   .recipe-edit-btn {
    top:8px;
    right:3px;
  }

  .menu-comment{
    padding: 0 1rem;
    font-size: 1.25rem;
  }
  
  .recipe-author { padding-right: 1rem; margin-left: 1rem;}
  .kcal { margin-left: 1rem; }
}
.recipe-save {
  margin-top: .5rem;
  margin-right: .25rem;
  -webkit-transition: .2s -webkit-transform ease-in-out;
}
} /* __Mediaquery*/

.recipe-author { margin-top: 1rem; }
.recipe-author-name{ color:#222; }
.author a{ color:#555; margin-top: 1.5rem; }
.author-name a{ font-weight: bold; color:#555; text-decoration: none; }


/* 材料リスト */
.ingredients{
  margin-top: 1rem;
  background: $beige;

  .ingredient-head {
    padding:.4rem 1rem;
    background:#cfc0a6;
    box-shadow: 0 1px 0 0px $gray, 0 2px 0 0px #cfc0a6, 
    0 -1px 0 0px $gray, 0 -2px 0 0px #cfc0a6;
    font-weight: bold; 
  }

  .ingredient{
    overflow: hidden;
    padding:.4rem 1rem;
    border-bottom: solid 1px #cfc0a6 ;

    &:last-child { border:none; }
  }

  .ingredient-name { float: left; }
  .ingredient-quantity { float: right; }
}

@media screen and (max-width:640px) {
  .ingredient,
  .ingredient-head{
    font-size: 1.25rem ;
  }
}

/* 作り方 */
.step{
  margin-bottom: 2rem;
  padding: 0 .15rem;
  text-align: left;

  &:nth-child(2){
    margin-left: 0;
  }

  .step-count{
    margin: .25rem 0;
    font-weight: bold;
    color:$green;
    font-size: 1.25rem;
  }

  &:nth-child(6){
    margin-left: 0;
  }
}

/* 作り方：スマホ */
@media screen and (max-width:640px) {
  .step{
    margin: 0;
    padding:1rem;
    background:$beige;
    border-bottom:solid 1px #cfc0a6;
    font-size: 1.25rem;
  }

  .step-head {
    margin-top: 2px;
    margin-bottom: 2px;
    padding:.4rem 1rem;
    background:#cfc0a6;
    box-shadow: 0 1px 0 0px $gray, 0 2px 0 0px #cfc0a6, 
    0 -1px 0 0px $gray, 0 -2px 0 0px #cfc0a6;
    font-weight: bold; 
    font-size: 1.25rem;
  }

  .step-count{  color:#555; }
  .step-img { float: right; }
} /* __Mediaquery */


/* コツ、ポイント */
.memo-history{
  padding: .5rem 1rem;
}

.memo-history-text{
  margin-top: 1rem;
  color:#818181;
  font-size: .85rem;
  line-height: 1.6;
}

.recipe-memo{
  border-right: solid 1px $gray;
}

.memo-head{
  font-weight: bold;
  color:#818181;
  font-size: 1.25rem;

  i{
    color:$light-orange;
  }
}

/* コツ、ポイント:スマホ */
@media screen and (max-width:640px) {
  .memo-history{
    padding-left: 0;
    padding-right: 0;

    .memo-head{ 
     margin-top: 2px;
     margin-bottom: 2px;
     padding:.4rem 1rem;
     background:#cfc0a6;
     box-shadow: 0 1px 0 0px $gray, 0 2px 0 0px #cfc0a6, 
     0 -1px 0 0px $gray, 0 -2px 0 0px #cfc0a6;
     color:#222;
     font-weight: bold; 
     font-size: 1.25rem;

     i{ color:#fff; }
   }
   .memo-history-text {
    margin: 0;
    padding:1rem 2rem;
    background:$beige;
    color: #222;
    font-size: 1.25rem;
  }
}
} /* __Mediaquery */

/* つくレポ */
.repo-head{
  margin-bottom: .5rem;
  padding: 0;
  border-bottom:solid 1px $gray;
  font-weight: bold;
  color:$light-orange;
  font-size: 1.7rem;
  text-align: center;
}

.repos {padding:.5rem; }

.repo {
  margin-bottom: 2rem;
}

.repo-img{
  padding:.6rem;
  background:$beige;

  .repo-data{
    background:#fff;
    color:$light-orange;
    text-align: center;
  }
}

.repo-text{
  padding:.6rem;
  font-size: .85rem;
}

/* おすすめのレシピ */
.recommend-head{
  margin: .5rem 0 1rem 0;
  font-weight: bold;
  color:$green;
  font-size: 1.25rem;
  text-align: center;
}

.recommend { margin-bottom: .5rem; } 
.recommend-title a{ font-size: 1rem; }


/* @@Menu
=========================================== */
#menu-page{
  .menu-comment {
    margin: 2rem 0;
    font-size: 1.25rem;
  }
}

.menu-item{
  padding: 0 1rem;

  .menu-role{
    color:$light-orange;
    font-size: 1.7rem;

    .role-icon{
      display: inline-block;
      margin-right: .2rem;
      vertical-align: -3px;
    }
  }
}

@media screen and (max-width:640px){
  #menu-page{
   .menu-title-large { padding: .5rem 0 .5rem .5rem;}
   .menu-comment{ padding: 0 1rem;}

   .cooking-time{
    padding: 0 1rem;
    text-align: right;
  }

  .menu-items {
    padding: 2rem 0;
    background:#f1ebe0;
  }
  .menu-item { 
    width: 90%;
    background:#fff;
    margin: 1rem auto 1rem auto; 
    padding-bottom: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0, .2);

    .menu-list-icon{
      position: relative;
      top:6px;
    }
  }
}
} /* __Mediaquery */

/* 買い物リスト */
.shopping-list-container{ padding-bottom: 5rem;  }

.shopping-list-head {
  border-bottom: solid 1px #ccc;

  .head{
    color:$light-orange;
    font-size: 1.7rem;
  }  
  .text { font-size: 1.25rem; }
}

.shopping-lists{
  width: 70%;
  margin: 0 auto;
}

.type {
  margin: 2rem 0 .5rem .5rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.shopping-list{
  border-radius: 4px;
  border:solid #ccc 1px;
}

.shopping-item{ 
  overflow: hidden;
  padding:.8rem 1rem; 
  border-bottom: solid #ccc 1px;

  &:last-child{ border: none; }

  .item-name { float: left;}
  .item-quantity { float: right;}
}

/* 買い物リスト：スマホ */
@media screen and (max-width:640px){
  .shopping-list-container{
    margin-top: 2.5rem;

    .shopping-list-head{
      padding:0 2rem;
    } 
  }
}


/* @@Mypage
==================================================*/ 
.mypage-header-container {
  overflow: hidden;
  width: 100%;
  background:rgba(#fbfbfb, .7);
  z-index: 9999;
}

.mypage-header{ 
  width: 100%;
  z-index: 9999;
  text-align:center;
}

.header-item{
  display: inline-block;
  width: 6rem;
  height: 6rem;
  margin-right: 4%;
  border-radius:100px;
  background:#ccc;
  box-shadow:1px 2px 2px rgba(0,0,0, .15);
  vertical-align: middle;
  text-align: center;

  &:last-child{ margin-right: 0; }

  a{
    @include vertical-center;
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 1;
  }

  i { font-size: 2rem;}
}

.header-item-a{
  background: $light-orange;
  a{ color:#fff; }
}

.header-item-b{
  background: #fff;
  a{ color:$light-orange; }
}

.header-item-c{
  background:#fff;
  border:solid 2px $light-orange;
  a{ color:$light-orange; }
}

.author-img {
  width: 7.5rem;
  height: 8rem;
  border-radius: 0px;
  box-shadow:none;
  background: none;

  a { 
    color:#555;
    font-size: .85rem;
    border-bottom:solid #555 1px;
  }

  img{ 
    display: inline-block;
    width: 90%;
    margin-bottom: .5rem;  
  }

  i { 
    color:$light-orange; 
    font-size: 1rem;
  }
}

.mykitchen-head {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.mykitchen-container{
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.repo-data {
  padding:.5rem 0 .25rem 0;
  font-weight: bold;
  border-bottom:solid 1px #ddd;
}

.repo-comment { padding-top:0.25rem; }

@media screen and (max-width:640px){
  .mypage-content { margin-top: 0;}

  .author-img-sp-container{
    padding:2rem 0;
    text-align: center;
  }

  .author-img-sp{
    width: 38%;
    height:100%;
    margin: 0 auto;
    border:solid #ccc 1px;
  }

  .author-img-edit{
    display: inline-block;
    margin-top: 1rem;
    border-bottom:solid #555 1px; 
    color:#555;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .mykitchen-container {
    padding-bottom:1rem;

    li { margin-bottom: 2rem; }
    .menu-img { margin-bottom: 0rem; }
  }
} /* __Mediaquery */

.page-title {
  margin-left: 1.2rem;
  margin-bottom: 1.75rem;

  a{ 
    font-weight: bold;
    font-size: 1.75rem; 
    color:#555;
    text-decoration: none;
  }
  
  .page-title-sub { font-size: 1.25rem; }
  .count { font-size: 1.75rem; }
}

.menu { margin-bottom: 2.5rem; }

@media screen and (max-width:640px){
  .page-title{
    margin: 1rem 0;
    text-align: center;
  }

  .menu {
    padding:1rem .5rem ;
    margin-bottom: 0;
    box-shadow: 0 1px 0 0px $gray, 0 2px 0 0px #cfc0a6;

    .menu-comment { font-size: 1.1rem; } 
  }
}

/* @@Create-Recipe
===============================================*/
.edit-label {
  padding: .5rem 0;
  font-weight: bold;
  color:#555;
  font-size: .875rem;

  i { color:$light-orange; }
}


.edit-field {
  width: 100%;
  height: 90px;
  color:#555;
  font-size: 1.25rem;
  padding:.5rem;
  border:solid 1px #ddd;
}

.edit-field::-webkit-input-placeholder{
  font-weight: bold;
  color:#75706a;
}

.edit-field:-ms-input-placeholder{
  font-weight: bold;
  color:#75706a;
}

.edit-field::-moz-placeholder{
  font-weight: bold;
  color:#75706a;
}

.recipe-memo .edit-field { font-size: 1rem; }

.edit-recipe-title{
  font-weight: bold;
  color:$green;
  width: 100%;
  height: 50px;
  font-size: 1.6rem;
}

.step .edit-field { font-size: .85rem; }

.edit-memo-history-container  .edit-label {
  color: #818181;
  font-size: 1.25rem;
}

.step-footer { margin-top: 1rem; }

.step-remove,
.step-add{
  color:#555;
  font-size: .8525em;
}

.step-add-btn a{
  position: relative;
  display: inline-block;
  width: 180px;
  padding:.65rem 0rem;
  border-radius:4px;
  box-shadow: 0 2px 0 #a3a19c;
  background:#f2f0ec;
  color:#555;
  text-align: center;
  text-decoration: none;

  &:hover{
    top:-3px;
    background:rgba( #f2f0ec , .8);
    box-shadow: 0 5px 0 #a3a19c;
  }
}

.edit-memo-history-container { margin-top: 2rem; }

.create-recipe-btn {
  position: relative;
  display: inline-block;
  width: 180px;
  padding:1rem 0rem;
  background:$light-orange;
  box-shadow: 0 4px 0 #cc911e;
  border-radius: 4px;
  font-weight: bold;
  color:#fff;
  text-align: center;
  text-decoration: none;

  &:hover{
    background:rgba( $light-orange, .8);
    top:-3px;
    box-shadow: 0 7px 0 #cc911e;
  }
}


.edit-recipe-img {
  position: relative;
  height: 0;
  padding-top: 100%;
  background: $gray url(../../images/dnote.png) no-repeat center;
  background-size: 75%;

  &:hover {
   box-shadow:inset 0 0 1px 1px $light-orange;
 }
}

.uploader-recipe-img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  padding-top: 100%;
  opacity:0;
  cursor: pointer;
}

.edit-recipe-img-typetext {
  position: relative;
  display: inline-block;
  margin-top: .5rem;
  text-align: center;

  .border-b { border-bottom:solid 1px #555 ; }

  i { color:$light-orange; }
}

.uploader-recipe-img-typetext{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.edit-step-img {
  position: relative;
  height: 0;
  padding-top: 70%;
  background: $gray url(../../images/dnote.png) no-repeat center;
  background-size: 60%;

  &:hover { box-shadow:inset 0 0 1px 1px $light-orange; }
}

.uploader-step-img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  padding-top: 70%;
  opacity:0;
  cursor: pointer;
}

.edit-step-img-typetext {
  position: relative;
  display: inline-block;
  margin-top: .5rem;
  text-align: center;

  .border-b { border-bottom:solid 1px #555 ; }

  i { color:$light-orange; }
}

/*　材料をつくるModal */
.ingredient-modal.remodal{ 
  width: 60%;
  left:20%;
  max-width:640px;
}

.ingredient-modal-head{
  border-bottom:solid 1px #ccc;
  color:#555;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;

  i { margin-right: 1rem; }
}

.edit-ingredient-container{
  margin-top: 1rem;
  text-align: left;
}

.edit-ingredient { margin: .5rem; }

.edit-ingredient-head{
  padding:0 1rem;
  color:#555;
  font-size: 1.25rem;
  border-bottom:solid 2px #ccc;
  text-align: left;
}

.edit-ingredient-field{
  width: 100%;
  padding:.5rem;
  color:#555;
  font-size: 1.25rem; 
  border:none;
  box-shadow:inset 1px 2px 2px rgba(0,0,0, .25); 
  line-height: 1.4;
  border:solid 1px #eee;
  border-radius: 4px;
}

.edit-ingredient-delete{
  color:#aaa;
  font-size: 1.75rem;
}

.add-ingredient-btn { margin-top: 1rem; }
.edit-ingredient-submit-container { margin-top: 3rem; }

.edit-ingredient-submit {
 position: relative;
 display: inline-block;
 width: 220px;
 padding:1rem 0rem;
 border:none;
 background:$light-orange;
 box-shadow: 0 4px 0 #cc911e;
 border-radius: 4px;
 font-weight: bold;
 font-size: 1.25rem;
 color:#fff;
 text-align: center;
 text-decoration: none;

 &:hover{
  background:rgba( $light-orange, .8);
  top:-3px;
  box-shadow: 0 7px 0 #cc911e;
}
}

.uploader-step-img-typetext{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.edit-kcal{
  height: 40px;
  font-size: 1rem;
}


@media (max-width :640px) {
  #create-menu-page,
  #create-menu-page .container-full,
  #create-recipe-page,
  #create-recipe-page .container-full{
    background:#f1ebe0;
  }

  .create-recipe-btn-container {
    border-top:solid 1px #cfc0a6;
    margin-top: 2rem;
    padding: 2rem 0;
  }

  .edit-recipe-title-container { padding:0; }
  .ingredient-modal.remodal{
    width: 100%;
    left:0;
    padding:10px;
  }

  .edit-ingredient { margin: 1.5rem 0; }
  .edit-ingredient-field { padding:1rem .5rem; }
  .edit-ingredient-submit{ font-size: 1.75rem; }

  .edit-form { padding-bottom: 1rem; }

  .edit-delete { font-size: 1rem; }

  .edit-field{
    width: 92%;
    margin:1rem 0 0 4%;
    background:#f1ebe0;
    border:none;
  }

  .edit-save { margin-left: 3rem; }

  .edit-recipe-img-container {
    width: 60%;
    margin: 0 auto;
    padding:1rem 0;
  }

  .edit-recipe-copy .open-edit-area a {  border:none; }
  #create-recipe-page .step { padding-bottom: 4rem; }
  .edit-step-img { padding-top: 40%; }
  
  #create-recipe-page{
   .inner { padding:0; }
   .ml-30  { margin: 0; }
 }

 .sp-head {
  margin-left: 0 !important;
  margin-top: 1rem;
  margin-bottom: 2px;
  padding:.4rem 1rem;
  background:#cfc0a6;
  box-shadow: 0 1px 0 0px $gray, 0 2px 0 0px #cfc0a6, 
  0 -1px 0 0px $gray, 0 -2px 0 0px #cfc0a6;
  font-weight: bold; 
  color:#555555;
  font-size: 1.25rem !important;

  i {
    vertical-align: 0;
    color:#fff;
  }
}
} /* __Mediaquery */


/* レシピ投稿ページ右側、レシピの書き方*/
.recipe-help{
  background:#fff;

  .recipe-help-head {
    padding: .2rem 0 0 .4rem;
    font-weight: bold;
    color:#5b401f;
    background: #cfc0a6;
  }

  .togglable {
    position: relative;
    display: block;
    padding: .65rem 1rem; 
    border-bottom: solid 1px #f1ebe0;
    font-weight: bold;
    font-size: .85em;
    color:#5b401f;
    text-decoration: none;

    &:after {
      font-family: 'icomoon';
      content: "\e618";
      position: absolute;
      top: 20%;
      right: 10px;
      color:$light-orange;
      font-size: 1.35rem;
    }
  }

  .active-togglable:after{
    color:#5b401f;
    transform: rotate(180deg);
  }

  .toggle-block {
    display: none;
    background:#f7f5f0;
    padding:1.5rem 1rem;
    font-size: .85rem;
  }
}

.step-add-btn { margin-top: 2rem; }

/* @@Create-Menu
===================================================*/
#create-menu-page .uploader-recipe-img,
#create-menu-page .edit-recipe-img.edit-menu{
  padding-top: 60%;
  background-size:contain;
}

.select-menu-items{
  margin-top: 1rem;
  padding: 1rem 0; 
  background:#fff;
}

.menu-select-text {
 font-weight: bold;
 margin-top: 1rem;
 font-size: 1rem;
 text-align: center;

 a { color:#75706a; }
}

.select-menu-item { margin: 1rem ; }

.edit-recipe-img{
  margin-top: .5rem;

  a{
    display: block; 
    width: 100%;
    height: 100%;
  }
}

.select-menu-head{
  margin-bottom: .5rem;
  color:#555555;
  font-weight: bold;
  font-size: 1.75rem;
  text-align: left;
}

.select-menu-list-container{
  .menu-title {
    color:$green;
    font-weight: bold;
    font-size: 1.15rem;
    text-align: left;
    text-decoration: none;
  }

  .menu-select-btn-container{
    margin-top: 2rem;
    margin-left: 3rem;
  }
}

.select-menu-list{
  padding:1rem 0;
  border-top:solid 1px #cccccc;
}

.menu-select-btn{
  display: block;
  top:0;
  padding:.4rem 0rem;
  background:$light-orange;
  box-shadow: 0 2px 0 #cc911e;
  border-radius: 4px;
  color:#fff;
  text-align: center;
  text-decoration: none;

  &:hover{
    background:rgba( $light-orange, .8);
    box-shadow: 0 4px 0 #cc911e;
  } 
}

.uploader-menu-img {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 0;
  padding-top: 59.4%;
  opacity:0;
  cursor: pointer;
}

.edit-menu-img-typetext {
  position: relative;
  display: inline-block;
  text-align: center;

  .border-b { border-bottom:solid 1px #555 ;}

  i { color:$light-orange; }
}

.uploader-menu-img-typetext{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media (max-width:640px){
  .select-menu.remodal{
    padding:10px;
    text-align: left;
  }
  .select-menu-list-container{
    .menu-title{
      margin-top: 2rem;
      margin-left: 1.5rem;
    }

    .menu-select-btn-container{ margin: 1rem auto; }
  }
}

/* お気に入りのタブ */
#mypage {
  .tab-switch-container{
    overflow: hidden;

    .tab-switch{
      position: relative;
      width: 14%;
      display: inline-block;
      background:#ddd;
      border-radius: 4px 4px 0 0;

      a{
        display: block;
        padding-bottom: .25rem;
        font-size: 1.7rem;
        line-height: 1;
        text-align: center;
        color:#fff;
        text-decoration: none;
      }

      &:first-child{
        margin-left: 2.5rem;
      }
    }
    .tab-active { background: $light-orange; }

  }

  #favorite-recipe { display: none; }
}


/* 献立レシピページのタブ */
#menu-recipe-page {
  .tab-switch-container{
    border-bottom: solid 1px $light-orange;
  }

  .tab-switch {
    position: relative;
    width: 18%;
    display: inline-block;
    margin-right: 1px;
    padding: .8rem 0 .6rem 0;
    background:#ddd;
    border-radius: 4px 4px 0 0;


    a {
      display: block;
      color:#fff;
      font-size: 1.7rem;
      line-height: 1;
      text-decoration: none;
      text-align:center;
    }

    &:first-child{
      margin-left: 1.4rem;
    }
  }
  .tab-active { background: $light-orange; }
}

  #recipe-container {
    display: none;
  }


@media screen and (max-width:640px){
  #menu-recipe-page {
    .tab-switch-container{
      overflow: hidden;
      margin-top: 2rem;
      border-bottom: solid 2px $light-orange;
      text-align: center;
    }

    .tab-switch {
      display: inline-block;
      width: 38%;
      padding: .8rem 0 .6rem 0;

      &:first-child{
        margin-left: 0rem;
      }
    }
  }

  #mypage {
    .tab-switch-container{
      overflow: hidden;
      margin-top: 2rem;
      border-bottom: solid 2px $light-orange;
      text-align: center;


      .tab-switch {
        display: inline-block;
        width: 38%;

        &:first-child{
          margin-left: 0rem;
        }
      }
    }
  }
} /* Mediaquery */

.favorite-menu-container {
  overflow: hidden;
}

.favorite-box{
  background:#fff;
  padding-top:2rem;
  padding-bottom: 2rem;
  border-radius:4px;
  border:solid 1px $light-orange;
}

@media screen and (max-width:640px){
  .favorite-box{
   border:none;
   padding-bottom:0;
   border-radius:0px;
 }

  // スマホ用タブ
  .tab-switch-container{
    overflow: hidden;
    margin-top: 2rem;
    border-bottom: solid 2px $light-orange;
    text-align: center;
  }

  .tab-switch{
    position: relative;
    width: 38%;
    display: inline-block;
    padding-bottom: .25rem;
    background:#ddd;
    border-radius: 4px 4px 0 0;
    color:#fff;
    font-size: 2.2rem;
    line-height: 1;
    cursor: pointer;

    &:first-child{
      margin-left: 0rem;
    }
  }

  .tab-active { background: $light-orange; }
}


/* Utilyty
==================================================*/
.bold { font-weight: bold; }
.sub-text { font-size: 1.09rem; }
.sub { font-size: .85rem }

.green { color:$green; }
.orange { color:$light-orange; }
.red { color:#b71818;  }

.bg-green { background:$green; }
.bg-orange{ background:$light-orange; }
.bg-red { background:#b71818; }

.pull-left{ float:left; }
.pull-right{ float: right; }

.ml-2 { margin-left: 2rem; }
.mt-30 { margin-top: 2rem; }

.full { @include full; }

@media screen and (max-width:640px){
  .full{
    margin: 0;
    padding: 0;
  }
  .is-sp-toggle-box { display: none; }
}

.centering{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.border-b { border-bottom: solid 1px $gray; }

.mt-56 { margin-top: 4rem; }
.ml-30{ margin-left: 2rem; }

.photo {
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.button{
  @include gradation-orange;
  display: inline-block;
  border-radius: 4px;
  border:solid 1px $dark-orange;

  a{
    display: inline-block;
    padding: .4rem .8rem;
    color:#fff;
    text-shadow: 1px 0px 1px rgba(black, .2);
    text-decoration: none;
    text-align: center;
  }

  i{ 
    font-size: 1.5rem; 
    vertical-align: -.25rem;
  }
}

.menu-saved {
  @include gradation-gray;
  border:solid 1px #ccc;
  
  i { color:#888;}
  a{ color:#888;}
}

.top-border-green{ border-top:solid $green 6px; border-radius:6px 6px 0 0; }
.top-border-orange{ border-top:solid $light-orange 6px; border-radius:6px 6px 0 0; }
.top-border-red{ border-top:solid #b71818 6px; border-radius:6px 6px 0 0; }


@media (min-width:640px) {
  .pt-30 { padding-top: 2rem; }
  .pb-30 {  padding-bottom: 2rem; }
}

@media (max-width:640px){
  .top-border-green,
  .top-border-red,
  .top-border-orange {  border-top: none; }
  .mt-56 {margin-top: 0;}
}

.vertical {
  width: 1rem;
  margin-left: .5rem;
  line-height: 1.2;
  font-weight: bold;
  color:#792e2e;
}

hr{
  width:94%;
  height:1px;
  margin:auto;
  border:none; 
  background-color:#ccc;
}

@media screen and (max-width:640px){
  hr { display: none; }
}

.clear:after{
  content: "";
  clear: both;
  display: block;
}


