
<div class="recipe-ranking-container">
  <h2 class="title-bar"><i class="title-icon icon-nife-fork"></i>おすすめのコラム</h2>
  <ul class="row gutters container inner-30 recipe-ranking">

    <% @columns.each do |column| %>

    <li class="col col-8">
      <p class="menu-title">
        <%= link_to column.title, column_path(column) %>
      </p>

      <p class="menu-title">
        by<%= link_to column.user.name, user_path(column.user) %>
      </p>
    </li>
    <% end %>

    <hr>

    <%= link_to 'コラム一覧へ' ,columns_path %>

  </ul>
</div>