<nav id="main-nav">
    <div class="sidebar" id="slidemenu_contents">
      <div class="gutters row sidemenu-account" id="slidemenu_list">
        <div class="col col-xs col-xs-8">
          <div class="user-name">
            <%= current_user.name %>さん
          </div>
          <div class="account-img">
           <!--  <i class="icon-user"></i> -->
           <%= image_tag(current_user.image)%>
          </div>
        </div>

        <div class="col col-xs col-xs-16 centering">
          <div class="button sidemenu-post-recipe">
            <a href="create-recipe.html">
              <i class="icon-edit"></i>
              レシピをのせる
            </a>
          </div>
          <div class="line"></div>
          <div class="button sidemenu-post-repo">
            <a href="#">
              <i class="icon-recipes-1"></i>
              つくレポを投稿
            </a>
          </div>
        </div>
      </div>

      <div class="sidemenu-search-container">
        <form action="#">
          <input type="text" class="search-bar">
          <button class="search-submit"><i class="icon-search icon-m"></i></button>
        </form>
      </div>

      <ul class="sidemenu" id="sidemenu">
        <li class="sidemenu-item menu-sub-title">
          <i class="icon-list-ul"></i>
          カテゴリから探す
        </li>

        <li class="sidemenu-item">
          <a href="menu-recipe.html">
           カロリー表示あり
         </a>    
       </li>
       <li class="sidemenu-item">
        <a href="menu-recipe.html">
          糖質制限食
        </a>    
      </li>
      <li class="sidemenu-item">
        <a href="menu-recipe.html">
         HbA1c、血糖値の安定
       </a>    
     </li>
     <li class="sidemenu-item">
      <a href="menu-recipe.html">
       味に自信あり
     </a>    
   </li>
   <li class="sidemenu-item">
    <a href="menu-recipe.html">
      すぐできるメニュー
    </a>    
  </li>

  <li class="sidemenu-item menu-sub-title">
    <i class="icon-cutlery"></i>
    レシピカテゴリ
  </li>

  <!-- ひとつのカテゴリ -->
  <li class="sidemenu-item menu-accordion-container">
    <ul>
      <li class="menu-accordion">
        <a href="menu-recipe.html">
          野菜のおかず
        </a>
      </li>

      <li class="menu-accordion-content">
        <ul>
          <li>
            <a href="menu-recipe.html">
              さつまいも
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
              なす
            </a>
          </li>
          <li>
            <a href="menu-recipe.html">
             かぼちゃ
           </a>
         </li>
       </ul>
     </li>
   </ul>
 </li>
 <!-- ひとつのカテゴリ -->

 <!-- ひとつのカテゴリ -->
 <li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        お肉のおかず
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        魚介のおかず
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
       ご飯物
     </a>
   </li>

   <li class="menu-accordion-content">
    <ul>
      <li>
        <a href="menu-recipe.html">
          さつまいも
        </a>
      </li>
      <li>
        <a href="menu-recipe.html">
          なす
        </a>
      </li>
      <li>
        <a href="menu-recipe.html">
         かぼちゃ
       </a>
     </li>
   </ul>
 </li>
</ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        パスタ・グラタン
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        麺
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        サラダ
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        スープ・汁物
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->

<!-- ひとつのカテゴリ -->
<li class="sidemenu-item menu-accordion-container">
  <ul>
    <li class="menu-accordion">
      <a href="menu-recipe.html">
        お弁当
      </a>
    </li>

    <li class="menu-accordion-content">
      <ul>
        <li>
          <a href="menu-recipe.html">
            さつまいも
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
            なす
          </a>
        </li>
        <li>
          <a href="menu-recipe.html">
           かぼちゃ
         </a>
       </li>
     </ul>
   </li>
 </ul>
</li>
<!-- ひとつのカテゴリ -->
</ul>

</div>
</nav>