%ul.index__side.col-lg-3.col-md-3.u-pl40.u-mt20.visible-lg.visible-md
  %li.index__side__item.u-mt20.hidden-xs
    = render 'about/dnote'
  %li.index__side__item
    = render 'about/search'
  %li.index__side__item
    = render 'about/category'       